.gap0{display: var(--flex);gap: var(--px0);}
.gap1{display: var(--flex);gap: var(--px1);}
.gap2{display: var(--flex);gap: var(--px2);}
.gap3{display: var(--flex);gap: var(--px3);}
.gap4{display: var(--flex);gap: var(--px4);}
.gap5{display: var(--flex);gap: var(--px5);}
.gap6{display: var(--flex);gap: var(--px6);}
.gap7{display: var(--flex);gap: var(--px7);}
.gap8{display: var(--flex);gap: var(--px8);}
.gap9{display: var(--flex);gap: var(--px9);}
.gap10{display: var(--flex);gap: var(--px10);}
.gap11{display: var(--flex);gap: var(--px11);}
.gap12{display: var(--flex);gap: var(--px12);}
.gap13{display: var(--flex);gap: var(--px13);}
.gap14{display: var(--flex);gap: var(--px14);}
.gap15{display: var(--flex);gap: var(--px15);}
.gap16{display: var(--flex);gap: var(--px16);}
.gap17{display: var(--flex);gap: var(--px17);}
.gap18{display: var(--flex);gap: var(--px18);}
.gap19{display: var(--flex);gap: var(--px19);}
.gap20{display: var(--flex);gap: var(--px20);}
.gap21{display: var(--flex);gap: var(--px21);}
.gap22{display: var(--flex);gap: var(--px22);}
.gap23{display: var(--flex);gap: var(--px23);}
.gap24{display: var(--flex);gap: var(--px24);}
.gap25{display: var(--flex);gap: var(--px25);}
.gap26{display: var(--flex);gap: var(--px26);}
.gap27{display: var(--flex);gap: var(--px27);}
.gap28{display: var(--flex);gap: var(--px28);}
.gap29{display: var(--flex);gap: var(--px29);}
.gap30{display: var(--flex);gap: var(--px30);}
.gap31{display: var(--flex);gap: var(--px31);}
.gap32{display: var(--flex);gap: var(--px32);}
.gap33{display: var(--flex);gap: var(--px33);}
.gap34{display: var(--flex);gap: var(--px34);}
.gap35{display: var(--flex);gap: var(--px35);}
.gap36{display: var(--flex);gap: var(--px36);}
.gap37{display: var(--flex);gap: var(--px37);}
.gap38{display: var(--flex);gap: var(--px38);}
.gap39{display: var(--flex);gap: var(--px39);}
.gap40{display: var(--flex);gap: var(--px40);}
.gap41{display: var(--flex);gap: var(--px41);}
.gap42{display: var(--flex);gap: var(--px42);}
.gap43{display: var(--flex);gap: var(--px43);}
.gap44{display: var(--flex);gap: var(--px44);}
.gap45{display: var(--flex);gap: var(--px45);}
.gap46{display: var(--flex);gap: var(--px46);}
.gap47{display: var(--flex);gap: var(--px47);}
.gap48{display: var(--flex);gap: var(--px48);}
.gap49{display: var(--flex);gap: var(--px49);}
.gap50{display: var(--flex);gap: var(--px50);}
.gap51{display: var(--flex);gap: var(--px51);}
.gap52{display: var(--flex);gap: var(--px52);}
.gap53{display: var(--flex);gap: var(--px53);}
.gap54{display: var(--flex);gap: var(--px54);}
.gap55{display: var(--flex);gap: var(--px55);}
.gap56{display: var(--flex);gap: var(--px56);}
.gap57{display: var(--flex);gap: var(--px57);}
.gap58{display: var(--flex);gap: var(--px58);}
.gap59{display: var(--flex);gap: var(--px59);}
.gap60{display: var(--flex);gap: var(--px60);}
.gap61{display: var(--flex);gap: var(--px61);}
.gap62{display: var(--flex);gap: var(--px62);}
.gap63{display: var(--flex);gap: var(--px63);}
.gap64{display: var(--flex);gap: var(--px64);}
.gap65{display: var(--flex);gap: var(--px65);}
.gap66{display: var(--flex);gap: var(--px66);}
.gap67{display: var(--flex);gap: var(--px67);}
.gap68{display: var(--flex);gap: var(--px68);}
.gap69{display: var(--flex);gap: var(--px69);}
.gap70{display: var(--flex);gap: var(--px70);}
.gap71{display: var(--flex);gap: var(--px71);}
.gap72{display: var(--flex);gap: var(--px72);}
.gap73{display: var(--flex);gap: var(--px73);}
.gap74{display: var(--flex);gap: var(--px74);}
.gap75{display: var(--flex);gap: var(--px75);}
.gap76{display: var(--flex);gap: var(--px76);}
.gap77{display: var(--flex);gap: var(--px77);}
.gap78{display: var(--flex);gap: var(--px78);}
.gap79{display: var(--flex);gap: var(--px79);}
.gap80{display: var(--flex);gap: var(--px80);}
.gap81{display: var(--flex);gap: var(--px81);}
.gap82{display: var(--flex);gap: var(--px82);}
.gap83{display: var(--flex);gap: var(--px83);}
.gap84{display: var(--flex);gap: var(--px84);}
.gap85{display: var(--flex);gap: var(--px85);}
.gap86{display: var(--flex);gap: var(--px86);}
.gap87{display: var(--flex);gap: var(--px87);}
.gap88{display: var(--flex);gap: var(--px88);}
.gap89{display: var(--flex);gap: var(--px89);}
.gap90{display: var(--flex);gap: var(--px90);}
.gap91{display: var(--flex);gap: var(--px91);}
.gap92{display: var(--flex);gap: var(--px92);}
.gap93{display: var(--flex);gap: var(--px93);}
.gap94{display: var(--flex);gap: var(--px94);}
.gap95{display: var(--flex);gap: var(--px95);}
.gap96{display: var(--flex);gap: var(--px96);}
.gap97{display: var(--flex);gap: var(--px97);}
.gap98{display: var(--flex);gap: var(--px98);}
.gap99{display: var(--flex);gap: var(--px99);}
.gap100{display: var(--flex);gap: var(--px100);}