:root{
    /*Déclaration des espacements*/
    --flex: flex;
    --space_1: space-around; 
    --space_2: space-between; 
    --center: center;
    --col: column;
    --grow: 1;
    --start: start; 
    --end: end;
    --float_r: right;
    --float_l: left; /*Par défaut à gauche*/
    --wrap: wrap;
    --bold: bold;
    --auto: auto;

    /*Toutes les couleurs principales*/
    --red: rgb(255, 63, 63);
    --blue: rgb(107, 196, 255);
    --green: rgb(78, 255, 78);
    --yellow: rgb(255, 255, 117);
    --orange: rgb(255, 201, 100);
    --black: rgb(81, 81, 81);
    --grey: rgb(202, 202, 202);
    --purple: rgb(255, 131, 255);
    --pink: rgb(255, 184, 196);
    --brown: rgb(199, 143, 116);
    --white: white;

    /*Enlever la bordure*/
    --none: none;

    /*Tailles en pourcentage*/
    --prc0_auto: 0% auto;
    --prc0: 0%;
    --prc050: 0.5%;
    --prc1: 1%;
    --prc2: 2%;
    --prc3: 3%;
    --prc4: 4%;
    --prc5: 5%;
    --prc6: 6%;
    --prc7: 7%;
    --prc8: 8%;
    --prc9: 9%;
    --prc10: 10%;
    --prc11: 11%;
    --prc12: 12%;
    --prc13: 13%;
    --prc14: 14%;
    --prc15: 15%;
    --prc16: 16%;
    --prc17: 17%;
    --prc18: 18%;
    --prc19: 19%;
    --prc20: 20%;
    --prc21: 21%;
    --prc22: 22%;
    --prc23: 23%;
    --prc24: 24%;
    --prc25: 25%;
    --prc26: 26%;
    --prc27: 27%;
    --prc28: 28%;
    --prc29: 29%;
    --prc30: 30%;
    --prc31: 31%;
    --prc32: 32%;
    --prc33: 33%;
    --prc34: 34%;
    --prc35: 35%;
    --prc36: 36%;
    --prc37: 37%;
    --prc38: 38%;
    --prc39: 39%;
    --prc40: 40%;
    --prc41: 41%;
    --prc42: 42%;
    --prc43: 43%;
    --prc44: 44%;
    --prc45: 45%;
    --prc46: 46%;
    --prc47: 47%;
    --prc48: 48%;
    --prc49: 49%;
    --prc50: 50%;
    --prc51: 51%;
    --prc52: 52%;
    --prc53: 53%;
    --prc54: 54%;
    --prc55: 55%;
    --prc56: 56%;
    --prc57: 57%;
    --prc58: 58%;
    --prc59: 59%;
    --prc60: 60%;
    --prc61: 61%;
    --prc62: 62%;
    --prc63: 63%;
    --prc64: 64%;
    --prc65: 65%;
    --prc66: 66%;
    --prc67: 67%;
    --prc68: 68%;
    --prc69: 69%;
    --prc70: 70%;
    --prc71: 71%;
    --prc72: 72%;
    --prc73: 73%;
    --prc74: 74%;
    --prc75: 75%;
    --prc76: 76%;
    --prc77: 77%;
    --prc78: 78%;
    --prc79: 79%;
    --prc80: 80%;
    --prc81: 81%;
    --prc82: 82%;
    --prc83: 83%;
    --prc84: 84%;
    --prc85: 85%;
    --prc86: 86%;
    --prc87: 87%;
    --prc88: 88%;
    --prc89: 89%;
    --prc90: 90%;
    --prc91: 91%;
    --prc92: 92%;
    --prc93: 93%;
    --prc94: 94%;
    --prc95: 95%;
    --prc96: 96%;
    --prc97: 97%;
    --prc98: 98%;
    --prc99: 99%;
    --prc100: 100%;

    /*Tailles en vh*/
    --vh0: 0vh;
    --vh1: 1vh;
    --vh2: 2vh;
    --vh3: 3vh;
    --vh4: 4vh;
    --vh5: 5vh;
    --vh6: 6vh;
    --vh7: 7vh;
    --vh8: 8vh;
    --vh9: 9vh;
    --vh10: 10vh;
    --vh11: 11vh;
    --vh12: 12vh;
    --vh13: 13vh;
    --vh14: 14vh;
    --vh15: 15vh;
    --vh16: 16vh;
    --vh17: 17vh;
    --vh18: 18vh;
    --vh19: 19vh;
    --vh20: 20vh;
    --vh21: 21vh;
    --vh22: 22vh;
    --vh23: 23vh;
    --vh24: 24vh;
    --vh25: 25vh;
    --vh26: 26vh;
    --vh27: 27vh;
    --vh28: 28vh;
    --vh29: 29vh;
    --vh30: 30vh;
    --vh31: 31vh;
    --vh32: 32vh;
    --vh33: 33vh;
    --vh34: 34vh;
    --vh35: 35vh;
    --vh36: 36vh;
    --vh37: 37vh;
    --vh38: 38vh;
    --vh39: 39vh;
    --vh40: 40vh;
    --vh41: 41vh;
    --vh42: 42vh;
    --vh43: 43vh;
    --vh44: 44vh;
    --vh45: 45vh;
    --vh46: 46vh;
    --vh47: 47vh;
    --vh48: 48vh;
    --vh49: 49vh;
    --vh50: 50vh;
    --vh51: 51vh;
    --vh52: 52vh;
    --vh53: 53vh;
    --vh54: 54vh;
    --vh55: 55vh;
    --vh56: 56vh;
    --vh57: 57vh;
    --vh58: 58vh;
    --vh59: 59vh;
    --vh60: 60vh;
    --vh61: 61vh;
    --vh62: 62vh;
    --vh63: 63vh;
    --vh64: 64vh;
    --vh65: 65vh;
    --vh66: 66vh;
    --vh67: 67vh;
    --vh68: 68vh;
    --vh69: 69vh;
    --vh70: 70vh;
    --vh71: 71vh;
    --vh72: 72vh;
    --vh73: 73vh;
    --vh74: 74vh;
    --vh75: 75vh;
    --vh76: 76vh;
    --vh77: 77vh;
    --vh78: 78vh;
    --vh79: 79vh;
    --vh80: 80vh;
    --vh81: 81vh;
    --vh82: 82vh;
    --vh83: 83vh;
    --vh84: 84vh;
    --vh85: 85vh;
    --vh86: 86vh;
    --vh87: 87vh;
    --vh88: 88vh;
    --vh89: 89vh;
    --vh90: 90vh;
    --vh91: 91vh;
    --vh92: 92vh;
    --vh93: 93vh;
    --vh94: 94vh;
    --vh95: 95vh;
    --vh96: 96vh;
    --vh97: 97vh;
    --vh98: 98vh;
    --vh99: 99vh;
    --vh100: 100vh;

    /*Tailles en pixels*/
    --px0: 0px;
    --px1: 1px;
    --px2: 2px;
    --px3: 3px;
    --px4: 4px;
    --px5: 5px;
    --px6: 6px;
    --px7: 7px;
    --px8: 8px;
    --px9: 9px;
    --px10: 10px;
    --px11: 11px;
    --px12: 12px;
    --px13: 13px;
    --px14: 14px;
    --px15: 15px;
    --px16: 16px;
    --px17: 17px;
    --px18: 18px;
    --px19: 19px;
    --px20: 20px;
    --px21: 21px;
    --px22: 22px;
    --px23: 23px;
    --px24: 24px;
    --px25: 25px;
    --px26: 26px;
    --px27: 27px;
    --px28: 28px;
    --px29: 29px;
    --px30: 30px;
    --px31: 31px;
    --px32: 32px;
    --px33: 33px;
    --px34: 34px;
    --px35: 35px;
    --px36: 36px;
    --px37: 37px;
    --px38: 38px;
    --px39: 39px;
    --px40: 40px;
    --px41: 41px;
    --px42: 42px;
    --px43: 43px;
    --px44: 44px;
    --px45: 45px;
    --px46: 46px;
    --px47: 47px;
    --px48: 48px;
    --px49: 49px;
    --px50: 50px;
    --px51: 51px;
    --px52: 52px;
    --px53: 53px;
    --px54: 54px;
    --px55: 55px;
    --px56: 56px;
    --px57: 57px;
    --px58: 58px;
    --px59: 59px;
    --px60: 60px;
    --px61: 61px;
    --px62: 62px;
    --px63: 63px;
    --px64: 64px;
    --px65: 65px;
    --px66: 66px;
    --px67: 67px;
    --px68: 68px;
    --px69: 69px;
    --px70: 70px;
    --px71: 71px;
    --px72: 72px;
    --px73: 73px;
    --px74: 74px;
    --px75: 75px;
    --px76: 76px;
    --px77: 77px;
    --px78: 78px;
    --px79: 79px;
    --px80: 80px;
    --px81: 81px;
    --px82: 82px;
    --px83: 83px;
    --px84: 84px;
    --px85: 85px;
    --px86: 86px;
    --px87: 87px;
    --px88: 88px;
    --px89: 89px;
    --px90: 90px;
    --px91: 91px;
    --px92: 92px;
    --px93: 93px;
    --px94: 94px;
    --px95: 95px;
    --px96: 96px;
    --px97: 97px;
    --px98: 98px;
    --px99: 99px;
    --px100: 100px;
    --px101: 101px;
    --px102: 102px;
    --px103: 103px;
    --px104: 104px;
    --px105: 105px;
    --px106: 106px;
    --px107: 107px;
    --px108: 108px;
    --px109: 109px;
    --px110: 110px;
}