/*
||||||||||||
|| Height ||
||||||||||||
*/
.h5{
    height: var(--prc5);
}

.h10{
    height: var(--prc10);
}

.h15{
    height: var(--prc15);
}

.h20{
    height: var(--prc20);
}

.h25{
    height: var(--prc25);
}

.h30{
    height: var(--prc30);
}

.h35{
    height: var(--prc35);
}

.h40{
    height: var(--prc40);
}

.h45{
    height: var(--prc45);
}

.h50{
    height: var(--prc50);
}

.h55{
    height: var(--prc55);
}

.h60{
    height: var(--prc60);
}

.h65{
    height: var(--prc65);
}

.h70{
    height: var(--prc70);
}

.h75{
    height: var(--prc75);
}

.h80{
    height: var(--prc80);
}

.h85{
    height: var(--prc85);
}

.h90{
    height: var(--prc90);
}

.h95{
    height: var(--prc95);
}

.h100{
    height: var(--prc100);
}

.vh100{
    height: var(--vh100);
}