/*
||||||||||||||||||||||||||
|| Paramètres de projet ||
||||||||||||||||||||||||||
*/
body{
    margin: var(--prc0_auto);
    padding: var(--prc0_auto);
}

header{
    align-items: var(--center);
}

content{
    flex-grow: var(--grow);
    align-items: var(--start);
}

a{
    text-decoration: var(--none);
}

button{
    border: var(--none);
}