/*
|||||||||||||||||
|| Texte Color ||
|||||||||||||||||
*/
.txt_red{
    color: var(--red);
}

.txt_blue{
    color: var(--blue);
}

.txt_green{
    color: var(--green);
}

.txt_yellow{
    color: var(--yellow);
}

.txt_orange{
    color: var(--orange);
}

.txt_black{
    color: var(--black);
}

.txt_grey{
    color: var(--grey);
}

.txt_purple{
    color: var(--purple);
}

.txt_pink{
    color: var(--pink);
}

.txt_brown{
    color: var(--brown);
}

.txt_white{
    color: var(--white);
}

/* Text_ Params*/
.txt_center{
    text-align: var(--center);
}

.txt_size5{
    font-size: var(--prc105);
}

.txt_size10{
    font-size: var(--prc110);
}

.txt_size15{
    font-size: var(--prc115);
}

.txt_size20{
    font-size: var(--prc120);
}

.txt_size25{
    font-size: var(--prc125);
}

.txt_size30{
    font-size: var(--prc130);
}

.txt_size35{
    font-size: var(--prc135);
}

.txt_size40{
    font-size: var(--prc140);
}

.txt_size45{
    font-size: var(--prc145);
}

.txt_size50{
    font-size: var(--prc150);
}

.txt_size55{
    font-size: var(--prc155);
}

.txt_size60{
    font-size: var(--prc160);
}

.txt_size65{
    font-size: var(--prc165);
}

.txt_size70{
    font-size: var(--prc170);
}

.txt_size75{
    font-size: var(--prc175);
}

.txt_size80{
    font-size: var(--prc180);
}

.txt_size85{
    font-size: var(--prc185);
}

.txt_size90{
    font-size: var(--prc190);
}

.txt_size95{
    font-size: var(--prc195);
}

.txt_size100{
    font-size: var(--prc200);
}